html {
    font-size: 12 px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* header {
    flex-wrap:wrap
} */

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.logo {
    width: 60vw;
}


.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    padding: 0 50px;
}

nav > ul {
    width: 35vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
}

#hero input[type='submit']{
    max-width: 150;
    width: 100;
    height: 35px;
    margin: 15px 0;
    border: 0;
    background-color:thistle;

}

.btn {
    font-size: 1.2rem;
    font-weight: 500;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: 3px orange;
    border-radius: 3px;
    background: turquoise;
    cursor: pointer;
    padding: 0 20px;
}

#design {
    margin-top: 30px;
}

#design .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    }

#design .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 80vw;
    padding: 5px;
}

#styles {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#styles > iframe {
    max-width: 560px;
    width: 100%;
}

#price {
    display:flex;
    flex-direction: row;
}